<!-- Code from getbootstrap.com/examples/jumbotron/?# -->
{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block app_name %}
    Twitter homescreen
{% endblock %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Twitter data</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- show possible search tasks the user can do -->
            <div class="col-md-4">
                <h2>Search tasks</h2>
                <p><a class="btn btn-default btn-block" href="#" role="button" id="btn-search-profile-information">Search Profile Information &raquo;</a></p>
                <p><a class="btn btn-default btn-block" href="#" role="button" id="btn-search-tweets-names">Search Tweets based on Names &raquo;</a></p>
                <p><a class="btn btn-default btn-block" href="#" role="button" id="btn-search-tweets-searchterms">Search Tweets based on Search Terms &raquo;</a></p>
                <p><a class="btn btn-default btn-block" href="#" role="button" id="btn-search-tweets-random">Collect random tweets &raquo;</a></p>
            </div>
        </div>
        <div class="row" id="messages-row">
            <!-- show error messages if any -->
            <div class="col-md-4">
                <div class="alert alert-success" role="alert" id="alert-search-started">Search started</div>
                <div class="alert alert-danger" role="alert" id="alert-search-problem">Problem with search</div>
                <div class="alert alert-danger" role="alert" id="alert-name-not-valid">Name not valid</div>
                <div class="alert alert-danger" role="alert" id="alert-problem-downloading-data">Problem with downloading data</div>
                <div class="alert alert-success" role="alert" id="alert-downloading-data-ok">Download will start</div>
                <div class="alert alert-danger" role="alert" id="alert-task-running">You have a task running, come back when the task is finished</div>
            </div>
        </div>
        <div class="row" id="profile-information-row">
            <!-- Options for searching profile information  (only visible on appropriate button click)-->
            <div class="col-md-4" id="profile-information-namefield">
                <h3>Search profile information</h3>
                <form role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="add-name-input">Add name: </label>
                        <input type="text" id="add-name-input" class="form-control">
                        <a id="add-name-button" role="button" class="btn btn-default">add name</a>
                    </div>
                </form>
                <!-- button to clear textarea -->
                <p><a class="btn btn-warning" href="#" role="button" id="btn-clear-profile-information-textarea">Clear names</a></p>
            </div>
            <form role="form" id="form-search-options">
                <div class="col-md-4" id="profile-information-textarea-col">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="all-names-textarea">All names: </label>
                        <textarea id="all-names-textarea" class="form-control" rows="10" disabled="disabled" required="required"></textarea>
                    </div>
                </div>
                <div class="col-md-4" id="profile-information-options-col">
                    <div class="form-group">
                        <label for="max-followers-input" class="form">Max followers: </label>
                        <input type="number" id="max-followers-input" min="1" max="10000000" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="friends-checkbox">Collect friends: </label>
                        <input type="checkbox" value="friends" name="friends-checkbox" id="friends-checkbox">
                    </div>
                    <div class="form-group">
                        <label for="followers-checkbox">Collect followers: </label>
                        <input type="checkbox" value="checkbox" name="followers-checkbox" id="followers-checkbox">
                    </div>
                    <div class="form-group">
                        <label for="list-memberships-checkbox">Collect list memberships: </label>
                        <input type="checkbox" value="checkbox" name="list-memberships-checkbox" id="list-memberships-checkbox">
                    </div>
                    <div class="form-group">
                        <label for="list-subscriptions-checkbox">Collect list subscriptions: </label>
                        <input type="checkbox" value="checkbox" name="list-subscriptions-checkbox" id="list-subscriptions-checkbox">
                    </div>
                    <div class="form-group">
                        <label for="relationships-checkbox">Collect full ego network</label>
                        <input type="checkbox" value="checkbox" name="relationships-checkbox" id="relationships-checkbox"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="bt-search-options" value="Start search">
                    </div>
                </div>
            </form>
        </div>
        <div class="row" id="tweets-by-name-row">
            <!-- Options for searching tweets based on names  (only visible on appropriate button click)-->
            <div class="col-md-4" id="tweets-by-name-namefield">
                <h3>Search tweets based on names</h3>
                <form role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="add-tweetname-input">Add screenname to follow: </label>
                        <input type="text" id="add-tweetname-input" class="form-control">
                        <a id="add-tweetname-button" role="button" class="btn btn-default">add name</a>
                    </div>
                </form>
                <!-- button to clear textarea -->
                <p><a class="btn btn-warning" href="#" role="button" id="btn-clear-tweetsbyname-textarea">Clear names</a></p>
            </div>
            <form role="form" id="form-tweets-by-name-search-options">
                <div class="col-md-4" id="tweets-by-name-options">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="all-names-textarea-tweetsbyname">All names: </label>
                        <textarea id="all-names-textarea-tweetsbyname" class="form-control" rows="10" disabled="disabled" required="required"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="searchapi-tweetsbyname-checkbox">Collect past tweets (timeline): </label>
                        <input type="checkbox" value="checkbox" name="searchapi-tweetsbyname-checkbox" id="searchapi-tweetsbyname-checkbox">
                    </div>
                    <div class="form-group">
                        <label for="streaming-tweetsbyname-checkbox">Start streaming search: </label>
                        <input type="checkbox" value="checkbox" name="streaming-tweetsbyname-checkbox" id="streaming-tweetsbyname-checkbox">
                    </div>
                    <div class="form-group">
                        <label for="nr-days-names-streaming">Stream running for nr of days: </label>
                        <input type="number" id="nr-days-names-streaming" value="1" min="1" max="7" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="bt-tweetsbyname-start" value="Start search">
                    </div>
                </div>
            </form>
        </div>
        <div class="row" id="tweets-by-searchterm-row">
            <!-- Options for searching tweets based on search terms  (only visible on appropriate button click)-->
            <div class="col-md-4" id="tweets-by-searchterm-namefield">
                <h3>Search tweets based on search terms</h3>
                <form role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="add-searchterm-input">Add search term to track: </label>
                        <input type="text" id="add-searchterm-input" class="form-control">
                        <a id="add-searchterm-button" role="button" class="btn btn-default">add search term</a>
                    </div>
                </form>
                <!-- button to clear textarea -->
                <p><a class="btn btn-warning" href="#" role="button" id="btn-clear-searchterms-textarea">Clear search terms</a></p>
            </div>
            <form role="form" id="form-tweets-by-searchterm-options">
                <div class="col-md-4" id="tweets-by-searchterm-options">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="all-names-textarea-searchterms">All search terms: </label>
                        <textarea id="all-names-textarea-searchterms" class="form-control" rows="10" disabled="disabled" required="required"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="searchapi-searchterms-checkbox">Collect past tweets (7 days): </label>
                        <input type="checkbox" value="checkbox" name="searchapi-searchterms-checkbox" id="searchapi-searchterms-checkbox">
                    </div>
                    <div class="form-group">
                        <label for="streaming-searchterms-checkbox">Start streaming search: </label>
                        <input type="checkbox" value="checkbox" name="streaming-searchterms-checkbox" id="streaming-searchterms-checkbox">
                    </div>
                    <div class="form-group">
                        <label for="nr-days-searchterms-streaming">Stream running for nr of days: </label>
                        <input type="number" id="nr-days-searchterms-streaming" value="1" min="1" max="7" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="bt-searchterms-start" value="Start search">
                    </div>
                </div>
            </form>
        </div>
        <div class="row" id="random-tweets-row">
            <!-- Options for collecting random tweets  (only visible on appropriate button click)-->
            <h3>Collect random tweets</h3>
            <form role="form" id="form-tweets-random">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="submit" class="btn-large" id="bt-randomtweets-start" value="Start random search">
                    </div>
                </div>
            </form>
        </div>
        <!-- Show the tasks the user has started in the past -->
        <div class="row">
            <div class="col-md-12" id="tasks-row">
                <h2>Tasks of {{ user.username }}</h2>
                {% if not tasks %}
                    No tasks
                {% endif %}
                {% for task in tasks%}
                    <!-- the id of the surrounding well is the id of the tasks, needed to download the data -->

                    <div class="well" id="{{ task.task_id }}"><p><b>Name: </b>{{ task.name }} <b>date: </b>
                        {{ task.tstamp }} <b>state: </b>{{ task.state }}</p>
                        {% if task.state == 'SUCCESS' %}
                            <form method="post" action="/twitter/get_task_data/">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ task.task_id }}">
                                <input type="submit" class="btn-info" value="Download data">
                            </form>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <footer>
            <p></p>
        </footer>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'twitter/homescreen.js' %}"></script>
{% endblock %}